*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  background-image: url('https://cutewallpaper.org/cdn-cgi/mirage/dd19f2d06ebc24f541f142b37b4289ffa7de722a7607e39984c5c6dd4ce8defd/1280/21/space-invaders-live-wallpaper/Space-Invaders-Wallpaper-Practicing-a-new-skill-tonight,-m-.jpg');
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/273/1019/631/space-galaxy-digital-art-digital-retro-theme-hd-wallpaper-preview.jpg');

  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
